textarea {
    min-height: 400px;
}

#mailbox_table, #mailbox_tr {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}

#email_header{
    border: none
}

#sender {
    font-weight: bold;
}

#subject {
    text-align: left;
    width: 60%;
}

#timestamp {
    text-align: right;
    color: grey;
}

label {
    font-weight: bold;
}

.emailHeader{
    list-style-type:none
}

