{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <h2>{{ request.user.email }}</h2>

    <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-primary" id="compose" >Compose</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
    <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    <input type=hidden id="mailbox" value=''>
    <hr>

    
    <div id="emails-view"></div>

    <div id="view-email">
        <table id="email_hdr">
            <tr><td id="from_td"></td></tr>
            <tr><td id="to_td"></td></tr>
            <tr><td id="subject_td"></td></tr>
            <tr><td id="timestamp_td"></td></tr>
        </table>
    
        <div id="email-buttons">
            <button class="btn btn-primary" id="reply_button">Reply</button>        
            <button class="btn btn-primary" id="archive_button">Archive</button>
            <button class="btn btn-primary" id="unarchive_button">Unarchive</button>
            <br>
            <i>**We looked at the archive/send functions during office hours with regards to the 'database is locked' error; it works sometimes, but sometimes will require a page refresh to work too</i>
            <br>
            <i>**There was an issue of SQLite not being able to support concurrency, or something like that was discussed in an Ed post. The best workaround for now would be to wait for the database connection to timeout before refreshing/trying again</i>
        </div>
        <hr>
        <div id="email_body"></div>
    </div>
    

    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form">
            <input type=hidden id="mailbox"/>
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <input type="button" class="btn btn-primary" value="Submit" id="submit-button">
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}